@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a{
    display: block;
    padding: 20px;
    text-align: center;
    background-color: brown;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1em;
}
a:hover {
    font-size: 1.2em;
    transition: font-size 0.5s;
}